
<div class="sidebar">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/live-time-graph">Live-Time-Graph</a></li>
      <li><a routerLink="/time-graph">Time-Graph</a></li>
      <li><a routerLink="/time-graph">SVG-Line</a></li>
      <li><a routerLink="/pieChart">PieChart</a></li>
      <li><a routerLink="/lineChart">LineChart</a></li>
      <li><a routerLink="/barChart">BarChart</a></li>
      <li><a routerLink="/barLine">Bar-Line</a></li> 
      <li><a routerLink="/pieChart2">PieChart2</a></li>
      <li><a routerLink="/svg-Line">SVG-Line</a></li>
     
    </ul>
  </div>
