.charts{

    display: flex;
    margin: 20px;
}

.line{

    flex: 1;
    /* box-shadow: 10px 10px 5px #aaaaaa; */

}
.chart {
    width: 800px;
    height: 800px;
  }
  :host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 430px;  
    padding-top: 80px;
  }